extends ./layout.jade
block contenido

	div(class="col-md-8 remove center-block text-center big")
		h1 Bienvenidos a nodeJS
		a(href="/login" class="right-space" ) Iniciar Sesión
		a(href="/singup") Registrate
